.row
  #task.span8
    = render partial: 'form', locals: {task: @task}
  #info.span4
    .task_description
      %h4= @task.task_description
    %hr
    .parameter_description
    .parameter_errors
    %hr
    .errors
      -if @task.errors.any?
        %h4
          Fix #{pluralize(@task.errors.count, "error")} in order to run calculations
        %ul
          -@task.errors.full_messages.each do |msg|
            %li= msg
