.row
  #task.span8
    = render partial: 'form', locals: {task: @task}
  #info.span4
    .task_description
      %h4= @task.task_description
    %hr
    .parameter
      .description
      .errors
    %hr
    .task_errors
      - if @task.errors.any?
        %h4
          Please fix following errors:
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
