.results_header
  = image_tag_if_exists task_logo, class: 'task_logo'
  %h5
    = raw I18n.t('opera.ticket_number.finished', ticket: ticket, time_finished: I18n.l(status.end_time))
= render partial: 'results', locals: {ticket: ticket, status: status, task_params: task_params, task_results: task_results}

.footer
  .ticket_storage_warning Please save your results for future usage, prolonged tickets storage is not guaranteed.
