.input_data
  .matrix
    First matrix
    %textarea= @status.task_params[:matrix_first]
  .matrix
    Second matrix
    %textarea= @status.task_params[:matrix_second]

.result_data
  .similarity
    Similarity:
    = @status.task_results[:similarity]
