%h3 Contacts:
%ul
  %li Technical questions and suggestions regarding web interface can be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e _at_ gmail _dot_ com'}.
  %li Technical questions and suggestions regarding MacroAPE and PerfectosAPE can be addressed to #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e _at_ gmail _dot_ com'} or #{link_to 'Ivan Kulakovskiy', 'mailto:ivan _dot_ kulakovskiy _at_ gmail _dot_ com'}.
  %li Technical questions and suggestions regarding ChIPMunk can be addressed to #{link_to 'Ivan Kulakovskiy', 'mailto:ivan _dot_ kulakovskiy _at_ gmail _dot_ com'}.
