= image_tag_if_exists 'autosome_logo.png', class: 'task_logo'
%h3 Welcome to the bioinformatics ‘Opera House’ opera.autosome.ru
– a web portal to bioinformatics tools provided for remote usage by
the autosome.ru team.
%br
%br
%p
  = link_to 'MACRO-APE', macroape_path
  and
  = link_to 'PERFECTOS-APE', perfectosape_path
  are currently available for motif comparison and regulatory SNV analysis.
%p
  ChIPMunk for motif discovery is coming next.