// Place all the styles related to the perfectosape/scan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snp_list_text{
  label {
    display: block;
  }
  textarea {
    width: 550px;
    height: 150px;
  }
}
.snp_list_file {
  label {
    display: inline-block;
    margin-right: 12px;
  }
}

.collection {
}

.snp_scan_results {
  tr{
    td:last-child { // Alignment text
      font-family: monospace;
    }
  }
}

.tfbs {
  font-size: 1.5em;
}
