//= require bootstrap_and_overrides
//= require_tree
//= require_self

.row{
  .span3 {
    display: inline-block;
  }
}

.navbar-inner {
  border-radius: 0;
}
.navbar-search {
  label, input { display: inline-block; }
  label, input { padding-top: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }
  input[type=submit] {height: 22px;}
}
