//= require bootstrap_and_overrides
//= require navigation
//= require tasks
//= require scene
//= require welcome
//= require_directory ./perfectosape
//= require_directory ./macroape

//= require_tree

.grant {
  font-size: 0.8em;
  color: #666;
  margin-top: 40px;
}

.webface-link, .paper, .manual {
  font-weight: bolder;
  font-size: 1.2em;
  background-color: #C3C3C3;
  border: 1px solid #BFBFBF;
  border-radius: 7px;
  padding: 0 4px;
}
